In [ ]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

### importing data using pandas

In [ ]:
df = pd.read_csv("cleaned_property_data.csv")
df.head(5)

### analysing null values

In [ ]:
df.isnull().any()

### replace 4.5/ 5 to 4.5 in columns like neighbourhood and etc

In [ ]:
df["Connectivity"]= df["Connectivity"].str.replace("/5","",regex=False)
df["Neighbourhood"]= df["Neighbourhood"].str.replace("/5","",regex=False)
df["Safety"]= df["Safety"].str.replace("/5","",regex=False)
df["Livability"]= df["Livability"].str.replace("/5","",regex=False)

### replace different values with nan

In [ ]:
df['Connectivity'] = pd.to_numeric(df['Connectivity'], errors='coerce')
df['Neighbourhood'] = pd.to_numeric(df['Neighbourhood'], errors='coerce')
df['Safety'] = pd.to_numeric(df['Safety'], errors='coerce')
df['Livability'] = pd.to_numeric(df['Livability'], errors='coerce')

### replace all nan with mean value

In [ ]:
df['Livability']=df['Livability'].fillna(df["Livability"].mean())
df['Neighbourhood']=df['Neighbourhood'].fillna(df["Neighbourhood"].mean())
df['Safety']=df['Safety'].fillna(df["Safety"].mean())
df['Connectivity']=df['Connectivity'].fillna(df["Connectivity"].mean())

In [ ]:
df["Bedrooms"]=df["Bedrooms"].astype("int")
df["Bathrooms"]=df["Bathrooms"].astype("int")

In [ ]:
df.dtypes

### finding unique values in furnishing column and replace it with nan value

In [ ]:
df["furnishing"].unique()

In [ ]:
values_to_keep = ["Unfurnished", "Fully Furnished"]
df['furnishing'] = df['furnishing'].where(df['furnishing'].isin(values_to_keep))

In [ ]:


furnishing_status = ['Fully Furnished', 'Unfurnished', "Semi furnished"]
mask = df['furnishing'].isna()
df.loc[mask, 'furnishing'] = np.random.choice(furnishing_status, size=mask.sum())

In [ ]:
df["furnishing"].unique()

 ### perform similar operation for facing column which is done to furnishing

In [ ]:
df["facing"].unique()

In [ ]:
values_to_keep = ["North facing", "North-East facing",'South facing','North-West facing','East facing', 'West facing', 'South-East facing']
df["facing"] = df['facing'].where(df['facing'].isin(values_to_keep))

In [ ]:
df["facing"]= df["facing"].str.replace(" facing","",regex=False)

In [ ]:
directions = [
    'North',
    'North-East',
    'East',
    'South-East',
    'South',
    'South-West',
    'West',
    'North-West'
]
mask = df['facing'].isna()
df.loc[mask, 'facing'] = np.random.choice(directions, size=mask.sum())

In [ ]:
df["facing"].unique()

### storing it to new file

In [ ]:
df.to_csv("final_data1.csv")